.green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #395306;
}

.gridPane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, #313031, #000000)
}

.stackPane {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.paneSeconds {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%,
                                          rgba(0, 0, 0, 255) 0%,
                                          rgba(0, 0, 0, 255) 18%,
                                          rgba(0, 0, 0, 0) 40%,
                                          rgba(0, 0, 0, 0) 60%,
                                          rgba(0, 0, 0, 255) 68%,
                                          rgba(0, 0, 0, 255) 100%);
}
.rectWhite {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%,
                                                        rgba(0, 0, 0, 1) 0%,
                                                        rgba(0, 0, 0, 1) 2%,
                                                        rgba(0, 0, 0, 0.2) 33%,
                                                        rgba(0, 0, 0, 0.05) 47%,
                                                        rgba(0, 0, 0, 0.0) 50%,
                                                        rgba(0, 0, 0, 0.05) 53%,
                                                        rgba(0, 0, 0, 0.2) 67%,
                                                        rgba(0, 0, 0, 1) 98%,
                                                        rgba(0, 0, 0, 1) 100%);
}

.rectDark {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%,
                                                        rgba(0, 0, 0, 1) 0%,
                                                        rgba(0, 0, 0, 0.9) 8%,
                                                        rgba(57, 60, 65, 0.1) 48%,
                                                        rgba(57, 60, 65, 0.0) 50%,
                                                        rgba(57, 60, 65, 0.1) 62%,
                                                        rgba(0, 0, 0, 0.9) 92%,
                                                        rgba(0, 0, 0, 1) 100%);
}

.insideGradient {
   -fx-stroke: linear-gradient(from 0% 0% to 0% 100%,
                                                        rgba(0, 0, 0, 1) 0%,
                                                        rgba(0, 0, 0, 0.9) 8%,
                                                        rgba(90, 93, 90, 0.9) 48%,
                                                        rgba(90, 93, 90, 1.0) 50%,
                                                        rgba(90, 93, 90, 0.9) 62%,
                                                        rgba(0, 0, 0, 0.9) 92%,
                                                        rgba(0, 0, 0, 1) 100%);
}